.card {
    width: 20rem;
    height: 20rem;
    background: #ffdbe6;
    border: none;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardCategory{
    color: #ff5988;
    text-transform: uppercase;
}

.cardTextArea{}

.cardWord{}

.cardTranscription{}

.cardTranslate{}

.cardNumber{
    color: #ff5988;
}


